.img-style1{
  width: 90%;
  border-radius: 200px;
}

.introrow{
    align-items: center;
   
 padding-top: 30px;
    text-align: center;
    
  
}



.intromessage{
    font-size: 22px;
    text-align: center;
}