body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;



    background-color:lightpink;
    background: linear-gradient(135deg, lightpink 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, lightpink 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, lightpink 25%, transparent 25%),
    linear-gradient(45deg, lightpink 25%, transparent 25%);
    background-size: 100px 100px;

    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
